/* You can add global styles to this file, and also import other style files */
a.mdl-js-ripple-effect {
    position: relative;
}

a img{
    border: 0px;
}

h4 {
    text-align: center;
}


h2 {
    text-align: center;
}
